.p-training {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  margin-top: 20px;
}
.p-training__text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  left: 50px;
  top: 0;
  width: 30px;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  -ms-flex-align: center;
  align-items: center;
}
